services:
  mongo:
    image: mongo:latest
    command: mongod --quiet --logpath /dev/null
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: s81wi3fbcaKxssgoK8Pm3QkdvRZzHj1r98q5
    expose:
      - "27017"
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

  mongo-express:
    image: mongo-express:latest
    restart: always
    expose:
      - "8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://admin:s81wi3fbcaKxssgoK8Pm3QkdvRZzHj1r98q5@mongo:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: s81wi3fbcaKxssgoK8Pm3QkdvRZzHj1r98q5
    depends_on:
      - mongo

  bc-backend:
    build: 
      context: .
      dockerfile: ./backend/Dockerfile
    env_file: ./backend/.env.docker
    restart: always
    expose:
      - "4002"
    depends_on:
      - mongo
    volumes:
      - cdn:/var/www/cdn/bookcars
      - backend_logs:/bookcars/backend/logs

  bc-admin:
    build: 
      context: .
      dockerfile: ./admin/Dockerfile
    env_file: ./admin/.env.docker
    restart: always
    expose:
      - "3001"
    depends_on:
      - bc-backend

  bc-frontend:
    build: 
      context: .
      dockerfile: ./frontend/Dockerfile
    env_file: ./frontend/.env.docker
    restart: always
    expose:
      - "80"
    depends_on:
      - bc-backend
    volumes:
      - cdn:/var/www/cdn/bookcars

volumes:
  cdn:
  mongodb_data:
  mongodb_config:
  backend_logs:
