/* Bookings Page Styles */

/* Mobile Styles */
@media only screen and (width <= 960px) {
  .cl-supplier-filter label.accordion,
  .cl-status-filter label.accordion,
  .cl-booking-filter label.accordion {
    background: #fff;
  }

  .cl-supplier-filter,
  .cl-status-filter,
  .cl-booking-filter {
    background-color: #fff;
    border-radius: 12px;
  }

  .cl-booking-filter div.panel,
  .cl-booking-filter div.panel-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Desktop Styles */
@media only screen and (width >= 960px) {
  .cl-supplier-filter label.accordion,
  .cl-status-filter label.accordion,
  .cl-booking-filter label.accordion {
    background: transparent;
  }

  .cl-supplier-filter,
  .cl-status-filter,
  .cl-booking-filter {
    background-color: rgba(47, 82, 51, 0.04);
    border-radius: 12px;
  }

  .cl-booking-filter div.panel,
  .cl-booking-filter div.panel-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Floating Action Button */
.fab {
  position: fixed !important;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
