div.user-type-filter {
  background: #fafafa;
  margin: 10px 10px 0 0;
  padding: 5px;
  border: 1px solid #dadada;
  font-size: 13px;
}

div.user-type-filter ul.user-type-list {
  list-style-type: none;
  font-size: 13px;
  margin: 15px 0 0;
  padding: 0;
  display: inline-block;
}

div.user-type-filter ul.user-type-list li {
  width: 48%;
  float: left;
  margin-bottom: 12px;
  margin-left: 1%;
  margin-right: 1%;
  clear: none;
  overflow: visible;
}

div.user-type-filter ul.user-type-list li span.bs {
  padding: 3px 8px;
  min-width: 80px;
  text-align: center;
  color: #fff;
  box-shadow: none;
  vertical-align: middle;
  position: relative;
  top: -3px;
  left: 5px;
  cursor: pointer;
  overflow: visible;
  margin-bottom: 0;
  display: inline-block;
  opacity: 1;
  white-space: nowrap;
}

div.user-type-filter ul.user-type-list li span.bs:hover {
  opacity: 0.9;
}

div.user-type-filter ul.user-type-list li span.bs-admin {
  background: #121212;
}

div.user-type-filter ul.user-type-list li span.bs-supplier {
  background: #e98003;
}

div.user-type-filter ul.user-type-list li span.bs-user {
  background: #22bba7;
}

div.user-type-filter ul.user-type-list li span.bs-accountant {
  background: #6c5ce7;
}

div.user-type-filter ul.user-type-list li span.bs-agency_staff {
  background: #0984e3;
}

div.user-type-filter div.filter-actions {
  text-align: center;
  padding-bottom: 5px;
}

div.user-type-filter div.filter-actions span.uncheckall {
  text-decoration: underline;
  cursor: pointer;
  color: #0064c8;
}
