div.faq-list {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.faq-list h2 {
  width: fit-content;
  font-weight: 700;
  font-size: 42px;
  color: var(--text-primary);
  margin-bottom: 40px;
  text-align: center;
}

div.faq-list div.questions {
  margin: 20px 120px 70px 120px;
  max-width: 1068px;
}

div.faq-list div.questions .accordion-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-primary);
}


div.faq-list div.questions .accordion-details {
  color: var(--text-secondary);
  line-height: 1.7;
  font-size: 15px;
}

@media only screen and (width <=960px) {
  div.faq-list div.questions {
    margin: 20px 0 70px 0;
  }
}
