* {
  scroll-behavior: smooth;
}

*:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/* .grecaptcha-badge { 
  visibility: hidden !important;
} */

.github-fork-ribbon::before {
  background: var(--gradient-primary);
}
